button {
  border-radius: 50px;
  height: 150px;
  width: 150px;
}

.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 40%;
  margin-left: 45%;
  border-radius: 45px;
  height: 150px;
  width: 150px;
}
